
.produtos {
  position: relative;
  color: black;
  background-color: #FFEBCD;
  text-align: center;
  padding: 30px 10px;
}

.linha {
  display: flex;
}

.linha div {
  padding: 10px;
}

.linha img{
  margin-left: 10%;
  width: 80%;
  border-radius: 15%;
  display: none;
  box-shadow: 10px 10px 5px #888888;
}
.image:hover .descFios{
  display: block;
}

.image1:hover .descPenteadas{
    display: block;
}
.image2:hover .descOutros{
    display: block;
}
.image .active {
  display: block;
}

.image1 .active {
  display: block;
}

.image2 .active {
  display: block;
}

.linha div .nome {
    margin: 0;
    margin-top: 10px;
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
}

.image .descFios{
  display: none;
  border: 2px solid black;
  background-color: white;
  position: absolute;
  top: 100px;
  left: 30%;
  width: 50%;
  color: black;
  word-wrap: break-word;
}

.descPenteadas{
  display: none;
  border: 2px solid black;
  background-color: white;
  position: absolute;
  top: 100px;
  left: 30%;
  width: 50%;
  color: black;
  word-wrap: break-word;
}

.descOutros{
  display: none;
  border: 2px solid black;
  background-color: white;
  position: absolute;
  top: 100px;
  left: 30%;
  width: 50%;
  color: black;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .linha {
  display: block;
  }
}
